<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<div class="container">
    <h3 th:text="${post.user.email}"></h3>
<form method="post" action="@{/posts/create}"th:object="${post}">
    <label for="title" ><input type="text"  id="title" th:field="*{title}"></label>
    <label for="content" ><input type="text"  id="content"  th:field="*{content}"></label>
        <button type="submit">Submit</button>
</form>
</div>
</body>
</html>