<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Post</title>

<!--    <nav th:replace="/partials/partials::navbar"></nav>-->

</head>
<body>
<div class="container">
<!--    <h3 th:text="${post.user.email}"></h3>-->
<form th:method="post" th:action="@{/posts/create}"th:object="${post}">
    <div>
        <label for="title" >Title<input type="text"  id="title" th:field="*{title}"></label>
    </div>
   <div>
       <label for="content" >Content<input type="text"  id="content"  th:field="*{content}"></label>
   </div>

    <button type="submit" value="Create Post">Submit</button>

</form>

</div>

</body>
</html>