<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<div>
<form th:action="@{/posts/edit/{id}/edit(id=${post.id})}" method="post" th:object="${post}">
    <label for="editTitle">Title <input type="text"  id="editTitle" th:placeholder="#{post.title}"  th:value="${post.title}"></label>
    <label for="editBody">Content <textarea id="editBody" th:placeholder="#{post.content}"  th:value="${post.content}"></textarea></label>
    <button type="submit">Submit</button>
</form>

    <form th:action="@{/posts/delete/{id}/delete(id=${post.id})}" method="POST">
    <button type="submit">Delete Post</button>
    </form>
</div>
</body>
</html>