<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<div>
<form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post" th:object="${post}">
   <div>
        <label for="editTitle">Title <input type="text"  id="editTitle" th:field="*{title}"   th:value="${post.title}"></label>
   </div>
   <div>
        <label for="editBody">Content <textarea id="editBody"  th:field="*{content}"   th:text="${post.content}"></textarea></label>
    </div>
    <input type="hidden" th:field="*{id}"/>

    <button type="submit">Submit</button>

</form>

    <form th:action="@{/posts/delete/{id}/delete(id=${post.id})}" method="POST">
         <button type="submit">Delete Post</button>
    </form>
</div>

</body>

</html>