<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Spring Blog</a>
    </div>
    <nav class="nav-extended">
        <div>
            <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active" href="create">Create a Post</a></li>

                <!--                <li class="tab"><a class="active" href="#test2">Contact us!</a></li>-->
                <li class="tab disabled"><a href="index">View Posts</a></li>
                <!--                <li class="tab disabled"><a href="#test3"></a></li>-->
            </ul>
        </div>
    </nav>
</nav>
<h1> View single post below:</h1>
<h3 th:text="${post.title}"></h3>
<p th:text="${post.content}"></p>
<p th:text="${post.user.email}"></p>
<a th:href="@{|/posts/${post.id}/edit|}">Edit Post</a>

<div></div>

</body>
</html>