<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:include="partials/partials::stylesheet('Login')"></head>

    <!-- Compiled and minified CSS -->


<body class="teal lighten-2">

<nav th:fragment="navbar" class="navbar navbar-expand-lg">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Spring Blog</a>
    </div>
    <nav class="nav-extended">
        <div>
            <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active left" href="login">Login</a></li>
            </ul>
        </div>
    </nav>
</nav>

<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="container">

    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #4e4545;margin-top: 90px;margin-right: 90px">
        <form th:action="@{login}" class="col s12" method="post">
            <div class='row'>
                <div class='col s12'>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    <input class='validate' type='text' name='username' id='username' />
                    <label for='username'>Enter your username</label>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    <input class='validate' type='password' name='password' id='password' />
                    <label for='password'>Enter your password</label>
                </div>

                <br />
                <div style="text-align: center;">
                    <div class='row'>
                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!--    <button type='submit' name='btn_signup' >Sign up!</button>-->
<h6 class="indigo-text right">Don't have an account?
<button class='col s12 btn waves-effect waves-light indigo right' >
    <a href="sign-up.html"></a> <i class="material-icons right">send</i> </button> </h6>
<br><br>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>


