<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Let's  roll dice!</title>

</head>
<body>

<nav th:replace="/partials/partials::nav"></nav>

<p>Hello, Roll the dice by clicking a number below:</p>

<footer th:replace="partials/partials::footer"></footer>
</body>
</html>

<!--need 6 links -->
<!--when user clicks make a GET req roll-dice/n ->number clicked on-->
<!--show randon number & user's guess- & dynamic mssg guess is rght/wrong->